.booksDashboard {
  max-height: 75vh;
  overflow: auto;
  background: rgba(0,0,0,0.3);
  color: white;
  gap: 8px;
  text-align: center;
  padding: 8px;
}

.keyVal {
  margin:  8px;
}

.keys {
  font-weight: bold;
}
